<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.radarcns.phone" >
    <!--Write permission needed for persisting phone source id. e.g. between new installations-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">
        <service android:name=".PhoneSensorsService"/>
    </application>
</manifest>
